<main>
  <h1 class=""></h1>
  <%= render('modules/erreur', current: @tiroir) %>
  <%= form_for(@tiroir, class: :formulaire) do |field| %>
    <p class="formulaire__groupe">
      <%= field.label :nom, class: :formulaire__libelle %>
      <%= field.text_field :nom, class: :formulaire__champ %>
    </p>
    <%= field.submit value: "Créer le tiroir", class: :formulaire__bouton %>
    <% end %>
</main>
